body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('The Secret.jpg');
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    background-color: rgb(194, 115, 224);
    width: 250px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;

}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    margin-bottom: 7px;
}

.login-1 {
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

.login-button{
    background-color: rgb(255, 127, 223);
}
